body{
  background-color: #FFDFE9
}


 nav {
    background-color: #000000;
    overflow: hidden;
  }
  
  
  nav a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  nav a:hover {
    background-color: #FA76A0;
    color: black;
  }
  
  
  nav a.active {
    background-color: #EC346E;
    color: #000000
  }
  
  