h1{
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 70px;
}

h2{
  font-family: "Atma", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
}
  
h3{
  font-family: "Atma", serif;
  font-weight: 600;
  font-style: normal;
}

p{
  font-family: "Atma", system-ui;
  font-weight: 400;
  font-style: normal;
}

#botd {
float: left;
display: block;
 }
 
#book_image {
  max-width: 50%;
  max-height: auto;
}
 
#book_description {
  font-size: 70 px;
}

body{
  background-color: #FFDFE9
}


 nav {
    background-color: #000000;
    overflow: hidden;
  }
  
  
  nav a {
    float: right;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  nav a:hover {
    background-color: #FA76A0;
    color: black;
  }
  
  
  nav a.active {
    background-color: #EC346E;
    color: #000000
  }
  
  